@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
*{ 
    transition-duration="0.2s";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   }
.topnav{
    background-color: blue;
    position: fixed;
    z-index: 2;
    width: 99.9vw;
    height: 9.6vh;
   
}

body{
    background-color: rgb(202, 227, 249);
}

tr {
    background-color: white;
}

.topnavouterdiv{
    min-width: 98vw;
    height: 9vh;
    /* overflow: hidden; */
    /* border: 2px solid white; */

}
.topnav_li_img{
    width: 2vw;
    display: inline;
    list-style: none;
   
   
}

.topnav_div_img img{
    position: fixed;
    top: 0.8%;
    left: 0.4%;
    border-radius: 70px;
    width: 7.4vh!important;
}
.topnav_div{
    
    display: inline-block;
    position: relative;
    z-index: 1;
    left: 10.5vh; 
    /* padding: 10px; */
    text-transform: capitalize;
    color: white;
    display: inline;
    /* border: 1px solid red; */
    margin-right:3px ;  
    top: 1.9vh;
   
}

.topnav_div_a{
    display: inline-block;
    /* width:9vw; */
    /* background-color: blue; */
    font-size: 1.8vw;
    font-weight: 400;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Sedgwick Ave Display', cursive; */
    color: rgb(212, 232, 249);
    /* border:1px solid white;
    border-radius: 20px;
    border-bottom: 4px; */
    /* margin: 2px 2px 2px 2vw; */
    position: relative;
    /* top: 10px; */
    text-decoration: none;
    box-sizing: border-box;
    padding: 4px; 
    
}
.topnav_div_a:hover{
    display: inline-block;
    background-color: rgb(33, 33, 241);
    box-shadow: 0px 0px 2px white , -0px -0px 1px white;
    transition-duration: 10ms;
    font-size: 1.83vw;
    font-weight: 400;
    color: rgb(212, 232, 249);
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    padding: 4px; 
}

@media screen and (max-width:600px) {
    .topnav_div_a{
        font-size: 3.3vw;
        padding: 2px;

    }
    .topnav_div{
        top: 3.2vh;
        margin-right: 1px;
        left:9vh;
    }
    .topnav_div_a:hover{
       
            display: inline-block;
            background-color: rgb(33, 33, 241);
            box-shadow: 0px 0px 4px white , -0px -0px 1.2px white;
            transition-duration: 10ms;
            font-size: 3.35vw;
            font-weight: 400;
            color: rgb(212, 232, 249);
            position: relative;
            text-decoration: none;
            box-sizing: border-box;
            padding: 1.9px; 
       

    }
}

.header{
    
    margin-top:4.6vh;
    margin-left: 8px;
    margin-bottom: 8px;
}
main{
    margin-left: 4px;
}

#Education ,#projects ,#skills{
    padding: 4px;
   
    text-transform: capitalize;
    margin-top: 8px;
    /* border:2px solid red; */
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
#skills li{
    list-style: none;
    line-height: 1.3rem;
    text-indent: 5px;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.projects_table{
    width: 50vw;
   
}
.projects_outrdiv{
    margin: 10px 5px 10px;
    position: relative;
    /* right: 100px; */
    /* border: 2px solid red; */
}
.project_innerdiv{
    display: inline;
    list-style: none;
    position: relative;
   /* left: -110px; */
   margin-right: 20px;
   border-radius: 80px;
  


}
.projects_link{
    background-color: rgb(46, 46, 251);
    border-radius: 80px;
    text-decoration: none;
    font-size: 1.4vw;
    color: aliceblue;
    padding: 4px; 
}
.projects_link:hover{
    background-color: rgb(46, 46, 251);
    border: 0px solid red;
    border-radius: 80px;
    text-decoration: underline;
    text-decoration-thickness:1px;
    font-size: 1.405vw;
    text-decoration-color: rgb(255, 255, 255);
    color: aliceblue;
    padding: 4px;
    
}
@media screen and (max-width:660px) {
    .projects_link{
        font-size: 1.9vw;
    }
}


.education_tbl {
    
    display: inline-block;
    text-indent: 2px;
    margin-top: 8px;
    background-color: rgb(142, 9, 89);
}


.footer{
    background-color: rgb(33,51,67);
    width: 98.7vw;
    height: 440px;
}
@media screen and (max-width :800px) {
    .footer{
        height: 655px;
    }
}
.ftrtopdiv{
    position: relative;
    left: 1.1vw;
    top: 1.4vw;
}
/* footer top section Styling starts from here  */
.ftd_innerdiv{
  
  display: inline-block;
  position: relative;
  /* height: 200px; */
  width: 20vw;
  left: 6vw;
  top: 2vh;
  margin-right: 20px;
  margin-top: 10px;
  
}
.vertical_line{
    display:none;
background-color: white;
border: 1px solid  rgb(182, 199, 214);
width: 0px;
height: 200px;
position: relative;
top: 2vh;
margin-right: 5vw;
margin-left: 20px;


}
@media screen and (max-width:830px){
    .ftd_innerdiv{
        width: 40vw;
        /* left: 2vw; */
    }
}
.ftd_innerdiv li{
    list-style-type: none;
}
.footer_headings{
    font-size: 1.13em;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;

    }
.footer_links{
    color: rgb(182, 199, 214);
    text-decoration: none;
    line-height: 1.69em;
    
}
/* hovere property of links */
.footer_links:hover {
color: rgba(0, 208, 255, 0.838);
text-decoration: underline;
line-height: 1.7em;
padding: 10px 0px 10px 0px;
font-size: 1.05em;

}
/* footer bottom section styling starts from here  */
.footer_bsection_div{
    background-color: rgb(33,51,67);
    position: relative;
    top: 50px;
    float: center;
}
.fbd_innerdiv{
  color: white;
  position: relative;
  left: 35vw;
  top: 3vw;
  margin-bottom: 15px;
}
.fbd_id_h3{

    color: rgba(255, 255, 255, 0.66);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 2.1rem;
    font-weight: 400;
    position: relative;
    left: 20px;

    
}
.fshare_link{
     
}
.fshare_link_img{
    width: 27px ;
    position:relative;
    left: 13px;
    margin-right: 7px;
    box-shadow: 0px 0px 5px rgba(192, 190, 190, 0.886);
    height: 27px;
    border-radius: 20px;
    display: inline-block;
}
.fshare_link_img:hover{
    transition-duration: 100ms;
    width: 30px ;
    position:relative;
    left: 13px;
    margin-right: 7px;
    box-shadow: 0px 0px 5px rgba(192, 190, 190, 0.886);
    height: 30px;
    border-radius: 20px;
    display: inline-block;
}
.fcopyright_button{
    
    color: rgba(255, 255, 255, 0.523);
    font-family: serif;
    font-size: 0.7rem;
    position: relative;
    left: -25px;    
}
