@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

*{ 
    transition-duration:"0.2s";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
 }
 .topnav{
    margin-bottom: 20px;
 }

 .topnavouterdiv{
    display: flex;
    width: 100vw;
    background: linear-gradient(to right ,#0000ffd6 ,#5ccbf1d2 ,#0000ffd3);
    /* border: 2px solid red; */
    padding: 7px 0px 1px 7px ;
    justify-content: flex-start;
    gap: 13px;
    overflow: hidden;
    position: fixed;
    top: 0.1px;
    z-index: 3;
    backdrop-filter: blur(5px);
}
.topnav_div_img img{
    border-radius: 70px;
    width: 35px;
}
@media screen and (max-width:490px) {
    .invisible{
        display: none;
    }
    .topnavouterdiv{
        justify-content: space-evenly;
        gap: 2px;
    }
    .topnav_div_a{
        height: 90%;
        padding: 1px 5px 3px 1px;
        /* border: 2px solid red; */
        box-shadow: 1px 1px 3px rgba(49, 49, 243, 0.637);
    }
    .topnav{
        margin-bottom: 0px;
     }
    
}
.topnav_div_a{
    text-transform: capitalize;
    /* border: 2px solid green; */
    display: inline-block;
    font-size: 1.35rem;
    font-weight: 500;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Sedgwick Ave Display', cursive; */
    color: #d4e8f9ee;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}
.topnav_div_a:hover{
    display: inline-block;
    background-color: rgb(33, 33, 241);
    /* box-shadow: 0px 0px 2px white , -0px -0px 1px white; */
    transition-duration: 10ms;
    font-size: 1.83vw;
    font-weight: 400;
    color: rgb(212, 232, 249);
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    padding: 4px; 
}
.header{  
    margin-left: 8px;
    margin-bottom: 8px;
}
body{
    background-color: rgb(202, 227, 249);

}


tr {
    background-color: white;
}
.mainoutercontainer{
    /* border: 2px solid red; */
    overflow: hidden;
    display: flex;
    /* min-height: 90vh; */
    flex-wrap: wrap-reverse;
}
.mainleftcontainer{
    /* border: 2px solid green; */
    width: 65vw;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 0px;
    
}
.mainrightdiv{
    display: flex;
    flex-direction: row;
    /* border: 2px solid green; */
    width: 33vw;
    overflow: hidden;
    align-items: center;  
    /* transform: translatey(-30%); */
    
}

#Education ,#projects ,#skills{
    padding: 4px;
    text-transform: capitalize;
    margin-top: 8px;
  }
  
.education_otr_div{
    width: 100%;
}

.education_tbl {
    cursor:vertical-text;
    display: inline-block;
    text-indent: 2px;
    margin-top: 8px;
    /* background-color: #8e0959; */
    border: 2px solid #8e0959;
   
}
.education_tbl td{
    display: inline-block;
    width: 123px;
    height: 25px;
    border:2px solid #8e0959;
    margin: 1px;
    text-align: center;
    /* background-color: red; */
}
.education_tbl th{
    display: inline-block;
    font-family: 'lato' , sans-serif;
    display: inline-block;
    width: 123px;
    height: 25px;
    border:2px solid #8e0959;
    margin: 1px;
    text-align: left;
    /* background-color: red; */
}
#skills li{
    list-style: none;
    line-height: 1.3rem;
    text-indent: 5px;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.projects_outrdiv{
    margin-top: 10px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: space-around; */
    align-items: center;
    column-gap: 10px;
    row-gap: 14px;
    padding: 7px;
}

.project_innerdiv{
    border: 2px solid #2e2efb;
    border-radius: 80px;
    padding: 7px 4.5px;
}
.projects_link{
    background-color: #2e2efb;
    border-radius: 80px;
    text-decoration: none;
    font-size: 1rem;
    color: aliceblue;
    padding:4px; 
}
.projects_link:hover{

    /* background: linear-gradient(to top right, rgb(210, 46, 46) , rgb(141, 3, 3)) ; */
    background-color: rgb(21, 21, 155);
    border-radius: 80px;
    text-decoration-thickness:1px;
    font-size: 1.02rem;
    text-decoration-color: rgba(255, 255, 255, 0.858);
    color: aliceblue;
    padding: 5px ;
    
}

.advertisementbox{
    /* border: 2px solid purple; */
    width: 300px;
    margin: 0px auto;
    text-align: center;
    background:linear-gradient(to top right ,#979191 ,white);    position: relative;
    height: auto;
    box-shadow: 1px 1px 10px rgb(117, 113, 113) , -1px -1px 10px rgb(117, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;

}
.advertisementbox p{
    /* border: 2px solid purple; */
    position: relative;
    margin: 0px auto;
    width: 250px;
    height: 100%;
    text-transform: capitalize;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 25px yellow  , 1px 1px 2px #2d2424 ;
    background: linear-gradient(to top right ,#9b999915 ,#faf4d025);
    padding: 10px 15px;
    color: #ffffffea;
}
@media screen and (max-width:1050px) {
    .mainleftcontainer{
        width: 63vw;
    }
    .mainrightdiv{
        width: 35vw;
    }
    .advertisementbox{
      width: 290px;
    }
    .advertisementbox p{
        /* font-size: 3.2rem; */
    }
    .projects_link{
        font-size: 0.9rem;
    }

}
@media screen and (max-width:810px) {
  
    .mainleftcontainer{
        width: 62vw;
    }
    .mainrightdiv{
        width: 36w;
        /* transform: translatey(-50%); */
    }
    .projects_link{
        font-size: 0.9rem;
    }
    .education_tbl th {
        font-size: 0.8rem;
        width: 100px;
    }
    .education_tbl  td {
        font-size: 0.8rem;
        width: 100px;
    }

    .advertisementbox p{
        font-size:3.7rem ;
        text-align: center;
        padding: 8px 15px;
    }
    .topnav{
        height: 11vh;

    }
    .topnav_div_a{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:710px){
    .mainleftcontainer{
        width: 60vw;

    }
    .mainrightdiv{
        width: 38vw;
    }
    .advertisementbox{
        width: 270px;

    }
    .advertisementbox p{
        font-size:3.5rem ;
        text-align: center;
        padding: 10px 20px;
    }
}
@media screen and (max-width:600px) {
    .topnav_div_a{
        font-size: 1rem;
    }
    .mainoutercontainer{
        display: block;
    }
    .mainleftcontainer{
        width: 90vw;
        display: block;
    }
    .mainrightdiv{
        position: relative;
        margin: 10px 0px;
        left: 4px;
        width: 92vw!important;

        transform: translatey(0);
    }
    .advertisementbox{
        width: 90vw;
        /* padding: 10px 2px; */
        background:linear-gradient(to right ,#212121 ,#dfd6d6ad ,#212121)
        
    }
    .advertisementbox p{
         padding: 10px 2px;
        padding:5px auto;
        width: 100%;
        font-size: 4rem;
        padding: 0px!important;
        line-height: 5rem;
        margin:0px;
    }
   
    .mainleftcontainer{
        width: 80vw;
    }
    .mainrightdiv{
        width: 34vw;
    }

}
@media screen and (max-width:430px) {
    .education_tbl th {
        font-size: 0.7rem;
        width: 85px;
    }
    .education_tbl  td {
        font-size: 0.75rem;
        width: 85px;
    }
}
.contactusbox{
    width: 150px;
    height: 45px;
    background-color: rgb(221, 224, 227);
    border: 2px solid rgb(216, 221, 226);
    border-radius: 8px;
    box-shadow: 5px 5px 1px rgb(202, 199, 199);
    position: fixed;
    bottom: 60px;
    right: 25px;
    z-index: 2;
    margin-bottom: 11px;
    display: inline-block;
    padding: 3px;


}
.contactusbox h4{
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family:'Arvo', serif; 

}
.contactusbox p{
    text-transform: capitalize;
    font-size: 0.8rem;
    font-family:'Arvo', serif; 
    text-indent: 1px;
    

}

.connectaside2{
    position: fixed;
    bottom: 8px;
    right: 15px;
    /* overflow: hidden; */
    /* border: 2px solid green; */
    z-index: 2;
    display: inline-block;
}
.asidecontactimg{
    width: 50px;
    border-radius: 45px;
    display: inline-block;
    

}/* footer styling starts here *//*/////////////////////////////////////////////////////////*/
.footer{
    background-color: rgb(33,51,67);
    width: 100vw;
    overflow: hidden;
    padding-bottom: 10px;
}

.ftrmaindiv{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.ftrtopdiv{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  
}
/* footer top section Styling starts from here  */
.ftd_innerdiv{
    padding: 10px;
  /* border: 2px solid red; */
  display: inline-block;
  position: relative;
  
}

.ftd_innerdiv li{
    list-style-type: none;
}
.footer_headings{
    font-size: 1.13em;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.715);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.42);
    /* text-align: left; */

    }
.footer_links{
    color: #b6c7d6d4;
    text-decoration: none;
    line-height: 1.69em;
    font-size: 1.05rem;
    
}
/* hovere property of links */
.footer_links:hover {
color: rgba(0, 208, 255, 0.838);
text-decoration: underline;
line-height: 1.69em;
font-size: 1.055em;

}
/* footer bottom section styling starts from here  */
.footer_bsection_div{
    /* background-color: rgb(33,51,67); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}
.fbd_innerdiv{
  color: white;
  display: flex;
  flex-direction: row;
}
.fbd_id_h3{

    color: rgba(255, 255, 255, 0.66);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 2.1rem;
    font-weight: 400;   
}
.fbd_links{
    gap:15px;
}
.fshare_link_img{
    width: 27px ;
    height: 27px;
    box-shadow: 0px 0px 5px rgba(5, 227, 138, 0.886);
    border-radius: 20px;
    cursor: pointer;
   
}
.fshare_link_img:hover{
    cursor: progress;
    transition-duration: 100ms;
    width: 30px ;
    position:relative;
    box-shadow: 0px 0px 5px rgba(192, 190, 190, 0.886);
    height: 30px;
    border-radius: 20px;
    display: inline-block;
}
.fcopyright_button{
    
    color: rgba(255, 255, 255, 0.523);
    font-family: serif;
    font-size: 0.7rem;
}
