@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500&family=Dancing+Script&family=Poppins&display=swap');
/* here are some utility classes and presets */
*{ 
    /* transition-duration:"0.2s" ease-out; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
 }
 body{
    font-family: 'Poppins', sans-serif;
    background-color: #cae3f9;

 }
 a{
    text-decoration: none;
 }
 h2 , h3 , h4 {
    color: #0a154a;
 }
 li ,p {
    color: #05051fd3;
    font-size: 1rem;
 }
 .flex{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .container{

    border: 2px solid red;
    margin: 0px auto;
 }
 /* USTILITY CLASSES ENDED HERE */
 .banner{
    width: 100vw;
    text-align: center;
    position: fixed;
    z-index: 5;
    background: linear-gradient(to right ,red , red) ;
 }
 .banner p{
    color: #212121;
    font-size: 1.1rem;
    z-index: 4;
    text-align: center;
    padding: 3.2px;
 }

.topnavouterdiv{
     background: linear-gradient(to bottom ,#ff0000de ,#ff00006c  ,#5cccf115);
     /* background: linear-gradient(to bottom ,black , white) ,url(images/Naveen1.jpg); */
    
     border-radius:0px 0px 100px 100px;
    width: 100vw;
    /* border: 2px solid red; */
    padding: 7px 0px 7px 7px ;
    gap: 23px;
    overflow: hidden;
    align-items: center;
    position: fixed;
    top: 30px;
    z-index: 3;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 10px #333;
    transition: linear 0.5s;
}
.topnav_div_img img{
    border-radius: 70px;
    width: 35px;
}

.topnav_div_a{
    text-transform: capitalize;
    /* border: 2px solid green; */
    display: inline-block;
    font-size: 1.35rem;
    font-weight: 500;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Sedgwick Ave Display', cursive; */
    color: #d4e8f9ee;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 3px #2525b981;
    padding: 7px;
    /* backdrop-filter: blur(5px); */
}
.topnav_div_a:hover{
    padding: 5.9px;
    font-weight: 600;
    box-shadow: 1px 1px 3px #2929e32f;
}

@media screen and (max-width:890px) {
    .invisible{
        display: none;
    }
    .topnavouterdiv{
        width: 100vw;
        top: 25px;
        column-gap: 7px;
        padding: 7px 10px 1px 10px ;
    }
@media screen and (max-width:490px) {
    .invisible{
        display: none;
    }
    .topnavouterdiv{
        width: 100vw;
        top: 26px;
        column-gap: 5px;
        padding: 7px 15px 1px 7px ;
    }
}
    .topnav_div_a{
        /* border: 2px solid red; */
        padding: 5px;
        box-shadow: 1px 1px 3px #1717c9ad;
    }
    .topnav_div_a:hover{

        box-shadow: 1px 1px 3px #3131f388;
    }
    .topnav{
        margin-bottom: 0px;
     }
     .banner p{
        font-size: 0.9rem;
     }
    
}

.header{
    background: linear-gradient(to right ,#cae3f9 , #8ac1f1,#cae3f9);  
    text-align: center;
    margin: 0px 5px 0px;
    padding-block: 5px;
    margin-top: 90px;
}
.header h1{
    font-family:'Bodoni Moda', serif;
       padding: 3px;
}

tr {
    background-color: white;
}
#Education,#projects ,#skills{
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    font-family: 'poppins';
    margin-top: 8px;
  }
  
.education_otr_div{
    width: 100%;
    text-align: center;
}

.education_tbl {
    cursor:vertical-text;
    display: inline-block;
    text-indent: 2px;
    margin-block: 8px;
    /* background-color: #8e0959; */
    border: 2px solid #8e0959;
   
}
.education_tbl td{
    display: inline-block;
    width: 123px;
    height: 25px;
    border:2px solid #8e0959;
    margin: 1px;
    text-align: center;
    /* background-color: red; */
}
.education_tbl th{
    display: inline-block;
    font-family: 'lato' , sans-serif;
    display: inline-block;
    width: 123px;
    height: 25px;
    border:2px solid #8e0959;
    margin: 1px;
    text-align: left;
    /* background-color: red; */
}
#skills li{
    text-align: center;
    list-style: none;
    line-height: 1.4rem;
    text-indent: 5px;
     font-size: 1.03rem;
     padding-block: 5px;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
}

.projects_outrdiv{
   
    margin-top: 10px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    column-gap: 10px;
    row-gap: 14px;
    padding: 7px;
}

.project_innerdiv{
   
    border: 2px solid #2e2efb;
    border-radius: 80px;
    padding: 7px 4.5px;
}
.projects_link{
   
    background-color: #2e2efb;
    border-radius: 80px;
    text-decoration: none;
    font-size: 1rem;
    color: aliceblue;
    padding:4px; 
}
.projects_link:hover{

    /* background: linear-gradient(to top right, rgb(210, 46, 46) , rgb(141, 3, 3)) ; */
    background-color: rgb(21, 21, 155);
    border-radius: 80px;
    text-decoration-thickness:1px;
    font-size: 1.02rem;
    text-decoration-color: rgba(255, 255, 255, 0.858);
    color: aliceblue;
    padding: 5px ;
    
}
@media screen and (max-width:1050px) {
    .mainleftcontainer{
        width: 63vw;
    }
    .mainrightdiv{
        width: 35vw;
    }
   
 
    .projects_link{
        font-size: 0.9rem;
    }

}
@media screen and (max-width:810px) {
    .projects_link{
        font-size: 0.9rem;
    }
    .education_tbl th {
        font-size: 0.8rem;
        width: 100px;
    }
    .education_tbl  td {
        font-size: 0.8rem;
        width: 100px;
    }
    .topnav_div_a{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:600px) {
    .topnav_div_a{
        font-size: 1rem;
    }

}
@media screen and (max-width:430px) {
    .education_tbl th {
        font-size: 0.7rem;
        width: 85px;
    }
    .education_tbl  td {
        font-size: 0.75rem;
        width: 85px;
    }
}

/* containers styling starts from here */
.backgound-design{
    background: linear-gradient(to bottom ,#ffffff46 , #ffffffa3 ,#ffffff46);
    /* background-color: #ffffff81; */
    border-radius: 12px;
    box-shadow: 0px 0px 10px #333;
    padding: 15px;
    margin-block: 10px;
}
.about{ 
       padding: 40px;
        }
.about h2{
    text-align: center;
    font-size: 2.3rem;
    font-weight: 800;
    font-family: 'poppins' ,serif;
}
.about h3{
    text-align: center;
    color: #212121;
}
.about-content{
    padding: 20px 10px;
    font-size: 1.13rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
    column-gap: 10px;
    row-gap: 15px;
    align-items: flex-start;
    text-align: center;
}
.main-container{
    margin-top: 30px;
    /* border: 2px solid red; */
    /* column-gap: 200px; */
    row-gap: 30px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.main-left{
    /* border:2px solid peru; */
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.main-right{
  
    /* border:2px solid yellow; */
    padding: 5px  ;
    position: sticky;
    top: 140px;
    

}
.advertisement{
   
    background: linear-gradient(to bottom ,#cae3f9 , #aac7e1,#cae3f9);
    width: 300px;
    /* border: 2px solid purple; */
    padding: 10px 25px ;
    /* border: 2px solid grey; */
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4.6rem;
    font-weight: 550;
    margin-right: 5px;
    
}
@media  screen and (max-width:910px) {
    .advertisement{
        width: 100%;
        background: linear-gradient(to right ,#cae3f9 , #8ac1f1,#cae3f9);
    }
    .main-container{
        justify-content: center;
    }
}
.contactusbox{
    width: 150px;
    height: 45px;
    background-color: rgb(221, 224, 227);
    border: 2px solid rgb(216, 221, 226);
    border-radius: 8px;
    box-shadow: 5px 5px 1px rgb(202, 199, 199);
    position: fixed;
    bottom: 60px;
    right: 25px;
    z-index: 2;
    margin-bottom: 11px;
    display: inline-block;
    padding: 3px;


}
.contactusbox h4{
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family:'Arvo', serif; 

}
.contactusbox p{
    text-transform: capitalize;
    font-size: 0.8rem;
    font-family:'Arvo', serif; 
    text-indent: 1px;
    

}

.connectaside2{
    position: fixed;
    bottom: 8px;
    right: 15px;
    /* overflow: hidden; */
    /* border: 2px solid green; */
    z-index: 2;
    display: inline-block;
}
.asidecontactimg{
    width: 50px;
    border-radius: 45px;
    display: inline-block;
    

}
/* styling of the draft Section starts from here   */
.draft{
    margin: 20px 0px 40px 0px;  
}
.draft-header h2{
    text-align: center;
    font-family: 'Bodoni Moda' ,serif;
    font-size: 2rem;
    text-transform:capitalize ;
    font-weight: 900;
    color: #083851bd;
}
.draft-content{ 
    margin-block:25px;
    flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   align-items: flex-end;

}
.draft-card{
    border-radius: 10px;
   background-color: black;
    column-gap: 30px;
    row-gap: 30px;
    min-width: 170px;
    width: 20%;
    height: 270px;
    background-color: black;
    background:linear-gradient(#1b101040 , #000000f4) , url(images/usability_hub_clone.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;     
}
.draft-card:hover{
    background:linear-gradient(#1b101040 , #150f0ff4) , url(images/usability_hub_clone.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;     
    box-shadow: 0px 0px 5px black;

 
}
.draft-card h4{
    color: rgba(255, 255, 255, 0.836);
    position: absolute; 
    left: 10px;
    bottom: 5px;
    right: 10px;
    text-align: center;
    
}
.draft-card h4:hover{
    font-size: 1.02rem;
    text-decoration: underline;
}
.draft-card:nth-child(2){
     background:linear-gradient(#1b101040 , #150f0ff4) , url(images/images/portfolio.png);
}
.draft-card:nth-child(3){
    background:linear-gradient(#1b101040 , #150f0ff4) , url(images/images/login.png);

}
.draft-card:nth-child(4){
    background:linear-gradient(#1b101040 , #150f0ff4) , url(images/images/galleyimages-screenshot.png);

}

/* footer styling starts here *//*/////////////////////////////////////////////////////////*/
.footer{
    background-color: rgb(33,51,67);
    width: 100vw;
    overflow: hidden;
    padding-bottom: 10px;
}

.ftrmaindiv{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.ftrtopdiv{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  
}
/* footer top section Styling starts from here  */
.ftd_innerdiv{
    padding: 10px;
  /* border: 2px solid red; */
  display: inline-block;
  position: relative;

}

.ftd_innerdiv li{
    list-style-type: none;

}
.footer_headings{
    font-size: 1.13em;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffffb0;
    /* text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.42); */
    /* text-align: left; */

    }
.footer_links{
    color: #b6c7d6d4;
    text-decoration: none;
    line-height: 1.69em;
    font-size: 1.05rem;
    
}
/* hovere property of links */
.footer_links:hover {
color: rgba(0, 208, 255, 0.838);
text-decoration: underline;
line-height: 1.69em;
font-size: 1.055em;

}
/* footer bottom section styling starts from here  */
.footer_bsection_div{
    /* background-color: rgb(33,51,67); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}
.fbd_innerdiv{
  color: white;
  display: flex;
  flex-direction: row;
}
.fbd_id_h3{

    color: rgba(255, 255, 255, 0.66);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 2.1rem;
    font-weight: 400;   
}
.fbd_links{
    gap:15px;
}
.fshare_link_img{
    width: 27px ;
    height: 27px;
    box-shadow: 0px 0px 5px rgba(5, 227, 138, 0.886);
    border-radius: 20px;
    cursor: pointer;
   
}
.fshare_link_img:hover{
    cursor: progress;
    transition-duration: 100ms;
    width: 30px ;
    position:relative;
    box-shadow: 0px 0px 5px rgba(192, 190, 190, 0.886);
    height: 30px;
    border-radius: 20px;
    display: inline-block;
}
.fcopyright_button{
    
    color: rgba(255, 255, 255, 0.523);
    font-family: serif;
    font-size: 0.7rem;
}
