 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap');

/* presets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#333333;

    --primary-color:#58636b;
    --secondary-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --footer-color:#ebf2fa;
    --padding-inline-section:15px;
    --new-font: 'Poppins', sans-serif;
    --new-font-heavier:
}
.dark{
    --secondary-text-color:#ffffff;
    --footer-color:#1d1e20;
    --primary-text-color:#fff;
    background-color: #212121;
    --primary-color:#eaf2f8;
    --secondary-color:#dce4ea;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    /* background-color: black; */
}
h1{
    font-size: 3rem;
    color: var(--primary-text-color);
}
h2{
    font-size: 2.4rem;
    color: var(--primary-text-color);
}
h3{
    font-size: 1.9rem;
    color:var(--primary-text-color);
}
h4{
    font-size: 1.5rem;
    color: var(--primary-text-color);
}
h5{
    font-size: 1.2rem;
    color: var(--primary-text-color);
    line-height: 30px;
}
p{   color: var(--primary-text-color);
    font-family: 'poppins',sans-serif;
    color: var(--secondary-color);
    word-spacing: normal;
    font-size: 1.2rem;
    word-spacing: 1.5px;
    letter-spacing: 0.4px;
    line-height: 27px;
}
.para_small{
    color: var(--primary-text-color);
    font-size: 1.1rem;
    color: var(--primary-text-color);
    word-spacing: 1.5px;
    letter-spacing: 0.4px;
}
ul li{
    color: var(--primary-text-color);
    list-style-type: none;
}
a{     color: var(--primary-text-color);
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}
/* utility classess */
.primary-button{
    color: var(--primary-text-color);
    font-weight: 600;
    border-radius: 3px ;
    padding:9px 19px ;
    text-align: center;
    color: var(--secondary-text-color);
    border: 1px solid var(--secondary-color);
}
.primary-button:hover{
    border:1.2px solid var(--accent-color);
    color: var(--accent-color);
}
.secondary-button{
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;
    background-color: var(--accent-color);
    border-radius: 3px ;
    padding:11px 19px ;
   
    text-align: center;
    /* border: 1px solid var(--secondary-color); */
}
.secondary-button:hover{
    background-color: var(--accent-color-dark);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    /* border: 2px solid red; */
    width: 90vw;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    margin-inline: auto;
   
}
.hover-links:hover{
    color: var(--accent-color);
}
/* utility classes ended here */  
/* styling starts from here *//*////////////////////////////////////////////////////////////////////////////////*/
.darkmode-div{
    cursor:pointer;
    position: fixed;
    width: 30px;
    text-align: center;
    height: 30px;
    left: 20px ;
    top: 10px;
    background-color: white;
}
.bnnr_inr_bx{
    text-align: center;
width: 100%;
justify-content: center;
background:url(/learncss/11.full_website/assets/asset\ 32.png);
background-color: #e74694;

/* background-repeat: no-repeat; */
background-size: 300px;
height: 50px;

}
.bnnr_inr_bx p a{
    font-size: 0.88rem;
    color: #f5f5f5f3;
}
/* banner style ended */
.navigationbar{
   
    justify-content: space-between;
    /* border: 2px solid red; */
    padding: 2px;
    margin-block:20px;
}
.navul{
    list-style-type: none;
}
.toggle-button{
    display: none;
}
.nav_left_div  img{
    width: 170px;
    height: auto;
}
.nav_right_div{
    justify-content: flex-end;
    /* border: 2px solid green; */
    gap: 10px;
    height: 100%;
}
.navlinks{
    line-height:29px ;
    /* border: 2px solid purple; */
    margin-inline: 5px;
}

.navhover{
    line-height:30px ;
    margin-inline: 5px;
    padding:9px 19px ;
}
/* nav style ends here */
/* header style starts here */
.header{
    /* border: 2px solid rgb(222, 45, 45); */
    justify-content: center;
    margin-block: 30px;
}
.header_left_div{
    padding: 5px;
    flex-direction: column;
    width: 40vw;
    align-items: flex-start;  
  
}


.header_left_div h1{
font-size: 2.8rem;
}
.header_left_div p{
    font-size: 1.2rem;
    word-spacing: normal;
    line-height: 27px;
    width: 90%;
    margin-block:10px ;
  
}
.hld_button{
    padding: var(--padding-inline-section);
    margin-block: 20px;

} 
.header-right_div img{
    
   width: 100%;
    /* border: 2px solid black; */
    padding-block: 10px;
    padding-inline: var(--padding-inline-section);
}
.companies_section{
  /* border: 2px solid red;  */
  justify-content: center; 
}
.companies_para{
    justify-content: center;
    margin-bottom:20px;
}
.company_logo_div{
    justify-content: center;
    column-gap: 1vw;
    padding-inline: var(--padding-inline-section);
}
.company_logo_div img{
    width: 105px;
}
.features{
    padding: 90px var(--padding-inline-section);
    /* background-image: url(assets/asset\ 34.svg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    /* border: 2px solid rgb(49, 32, 32); */
}
.feature_header{
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.feature_examples{
    margin-top: 10px;
    padding: 40px var(--padding-inline-section) 10px;
    flex-wrap: wrap;
    gap: 40px 30px;
    /* border: 2px solid rgb(0, 255, 213); */
}
.feature_ex_div{
    text-align: center;
    width: 30%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.feature_ex_div img{
    width: 60px;
}
/* big feature styling starts from here */
.big_feature_section{
    padding: 30px var(--padding-inline-section);
    /* border: 2px solid red ; */
}
.big_feature_section{
    gap: 30px;
   
}
#big_feature_section_2{
    flex-direction: row-reverse;
}
.big_feature_image img{
    width: 45vw;
}
.big_feature_desk{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
   
}

.examples{
    margin-top: 50px;
}
.examples_card_list{
    margin-top: 30px;
    position: relative;
    justify-content: space-evenly;
}
.examples_card{
    position: relative;
    width: 23%;
    height: 310px;
    background-color: black;
    background:linear-gradient(#1b101040 , #150f0ff4) , url(assets/asset\ 36.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
       
}
.examples_card:nth-child(2){
    background:linear-gradient(#1b101040 , #150f0ff4) , url(assets/asset\ 37.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.examples_card:nth-child(3){
    background:linear-gradient(#1b101040 , #150f0ff4) , url(assets/asset\ 38.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.examples_card:nth-child(4){
    background:linear-gradient(#1b101040 , #150f0ff4) , url(assets/asset\ 39.jpeg);
    background-position: center;
    
    background-size: cover;
  
}
.examples_card:hover{
    box-shadow: 0px 0px 10px #333333;
}
.examples_card h4{
    font-size: 1.3rem;
    color: white;
     position: absolute;
     bottom: 7px ;
     left: 15px;
     right: 5px;
}
.Cta{
    
  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    gap: 40px;
    padding: 80px var(--padding-inline-section);
    margin-block: 30px;
    background-color: #183b54;
    color: white; 
}
.footer{
    padding: 80px var(--padding-inline-section) 80px;
    background-color: var(--footer-color);
}
.footer-container{
    justify-content: space-between;
      align-items: flex-start;
      gap: 10px;
}
.footer-linklist{
    flex-direction: column;
    justify-content: flex-start;
  

}
.footer-linklist{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.footer a:hover{
    color: var(--accent-color);
}
/* subfooter styling starts from here */
.subfooter-container{
    background-color: #a8b8cbd1;  
     /* width: 95vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* border: 2px solid red;  */
    padding: 20px 0px;
}
.subfooter-content{
    column-gap: 20px;
}
.subfooter-sharelink{
  column-gap: 10px;
}
